.card {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  padding: 15px;
  border-radius: 10px;
}
.imgHolder {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .card {
    flex-direction: row;
  }
  .imgHolder,
  .contentWrapper {
    width: 50%;
  }
}
.poster {
  width: 100%;
  height: auto;
}
.contentWrapper {
  padding: 20px;
}
.p {
  text-align: justify;
  text-align-last: start;
  margin-bottom: 30px;
}
.genres {
  text-align: center;
}