.card {
  padding: 5px;
  background-color: lightgray;
  border-radius: 10px;
}
.card:not(:last-child) {
  margin-bottom: 10px;
}
.p {
  text-align: justify;
  text-align-last: start;
  margin-bottom: 10px;
}
.time {
  display: block;
  font-weight: bold;
  text-align: right;
}
